/* p {
  background-color: aquamarine;
} */
img {
  height: 150px;
  width: 200px;
}
/* div {
  background-color: aqua;
} */


.div1 {
    background-color: red;
}

.div2 {
    background-color: blue;
}

.div3 {
    background-color: greenyellow;
}

.div3:hover {
    background-color: rgb(12, 202, 205);
}

#p1 {
    background-color: aqua;
    color: blue;
}

#p2 {
background-color: rgb(21, 255, 0);
    color: rgb(239, 61, 11);
}

#p3 {

}

#demo {
    background-color: red;
}

#demo:hover {
    background-color: blue;
}
